24th July

In [1]:
#dynamic typing
x = 10
x = "hello"

#static typing
def add(a:int, b : int) -> int:
  return a + b

In [3]:
#bitwise operators
print(5 & 3)
print (5 ^ 3) #XOR
print (5 << 1) #left shift
print(~5) #complement

1
6
10
-6

In [7]:
#special operator

#membership
arr = [1,2,3,4,5]
print(5 in arr)

#identity
arr2 = [1,2,1]
print(arr is arr2)

True
False

In [9]:
#type casting

#implicit
x = 3
y = 2.2
print(x+y)

#explicit
print(int(y))

5.2
2

In [12]:
#exception handling

#try-except
try:
  x = 2/0
except ZeroDivisionError:
  print("cannot divide by 0")

#try-except-else
try:
  x = 20/10
except ZeroDivisionError:
  print("cannot divide by 0")
else:
  print("ans = ", x)

#try-except-else-finally
try:
  x = 3/4
except ZeroDivisionError:
  print("cannot divide by zero")
else:
  print("ans = ", x)
finally:
  print("always executed")

cannot divide by 0
ans =  2.0
ans =  0.75
always executed

In [16]:
#Functions

# Partial Functions: Create new functions with some arguments fixed
from functools import partial

def multiply (x, y):
  return x * y

#new function that multiplies by 2
ans = partial(multiply,2)

print(ans(5))

# Anonymous/Lambda Functions: Define small, unnamed functions using lambda
subt = lambda x,y: x-y
print(subt(5,2))

# Recursive Functions: Functions that call themselves to solve problems
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * (factorial(n-1))

print(factorial(5))

# Monkey Patching: Modify or extend existing classes or modules at runtime
class MyClass:
  def fun(self):
    return "Hello"

obj = MyClass()
print(obj.fun())

def new_fun(self):
  return "Hi"

MyClass.fun = new_fun

print(obj.fun())

10
3
120
Hello
Hi

# Collections

In [ ]:
#List is a collection which is ordered and changeable. Allows duplicate members.

# a. Slicing of a List
my_list = [1, 2, 3, 4, 5]
slice1 = my_list[1:4]
slice2 = my_list[:3]
slice3 = my_list[::2]   #extracts every second element: [1, 3, 5]

# b. List Comprehension
squares = [x**2 for x in range(10)]      #list of squares from 0 to 9
even_squares = [x**2 for x in range(10) if x % 2 == 0]  #suares of even numbers

# c. Operations on List
my_list = [1, 2, 3]
my_list.append(4)          #adds 4 to list
my_list.insert(1, 1.5)     #add 1.5 after 1
popped_element = my_list.pop()  #removes last value and returns it, list updated

# d. List Methods
my_list = [3, 1, 4, 1, 5]
my_list.append(9)
my_list.sort()
my_list.reverse()
count_of_1 = my_list.count(1)  # 2

In [18]:
# 2. Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

# a. Converting list to a Tuple
l = [1,2,3,4]
t =  tuple(l)

# b. Concatenation of Tuples
t1 = (1,2,3)
t2 = (3,4,5)
a = t1 + t2
print(a)

# c. Nesting of Tuples. Slicing in Tuples
b = (t1,t2)
print(b)

#d. Slicing of tuples
tup = (1,2,3,4,5,6,7,8,9)
s1 = tup[1:4] #index 1 till 3
print(s1)
s2 = tup[:6] #0 till 5
print(s2)
s3 = tup[::3]#every 3rd element
print(s3)

(1, 2, 3, 3, 4, 5)
((1, 2, 3), (3, 4, 5))
(2, 3, 4)
(1, 2, 3, 4, 5, 6)
(1, 4, 7)

In [20]:
# 3. Set is a collection which is unordered and unindexed. No duplicate members.

# a. Frozen sets (immutable cannot be changed after creation)
s1 = {1,2,3}
s2 = {3,5,1,6,8}

# b. Union, Intersection and Difference of Sets
union = s1 | s2
print(union)

inter = s1 & s2
print(inter)

diff = s1-s2
d2 = s2-s1
print(diff)
print(d2)

{1, 2, 3, 5, 6, 8}
{1, 3}
{2}
{8, 5, 6}

In [24]:
#dictionaries:unordered collection of key-value pairs, where each key is unique
dict = {"alice":1, "Bob":2, "Sam":3}

# a. Nested Dictionary
d = {
    "p1" : {"Name": "Alice", "age" : 23},
    "p2" : {"Name":"Bob", "age" : 53}
}
print(d["p2"]["age"])
print("------------------")
# b. pop() vs popItem()
my_dict = {'name': 'Alice', 'age': 30}
value = my_dict.pop('age')  #removes and returns the value associated with the key 'age'
print(value)                #output: 30
print(my_dict)              #output: {'name': 'Alice'}

# Using popitem()
my_dict = {'name': 'Alice', 'age': 30}
key, value = my_dict.popitem()  # Removes and returns the last key-value pair
print(key, value)               # Output: ('age', 30)
print(my_dict)

53
------------------
30
{'name': 'Alice'}
age 30
{'name': 'Alice'}

In [25]:
#Strings

# 1. Escape Sequencing in Python
print("Hello\nWorld")
print("Tab\tspace")

# 2. Formatting of Strings
name = "Alice"
age = 30
print("Name: %s, Age: %d" % (name, age))
print("Name: {}, Age: {}".format(name, age))
print("Name: {0}, Age: {1}".format(name, age))  #positional arguments
print("Name: {name}, Age: {age}".format(name="Alice", age=30))  #named placeholders
print(f"Name: {name}, Age: {age}")

# 3. String Methods
print("hello".upper())
print("HELLO".lower())
print("  hello  ".strip())  #remove spaces
print("hello world".replace("world", "Python"))
print("hello world".split())
print("a,b,c".split(','))     #['a', 'b', 'c']
print("hello world".startswith("hello"))  #True
print("hello world".endswith("world"))  # True

Hello
World
Tab	space
Name: Alice, Age: 30
Name: Alice, Age: 30
Name: Alice, Age: 30
Name: Alice, Age: 30
Name: Alice, Age: 30
HELLO
hello
hello
hello Python
['hello', 'world']
['a', 'b', 'c']
True
True